<!doctype html>
<html lang="en">
<head>
    <title>CloudBag - Admin Dashboard</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }

        html{
            background-color: #F1EDFF;
        }

        #SelectFromDiv{
            display: flex;
            justify-content: center;
        }

        #news-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            margin-top: 40px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 40px;

        }

        #card1 a{
            background: #0a497c;
            cursor: pointer;
            color: white;
            font-color: white;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            padding: 10px 20px;
            font-size: 18px;
            border: 4px solid #fff;
        }


        #news-cards a:hover{
            opacity: .9;
        }


        #card1 {
            text-align: center;
            padding: 10px 0;
            background: #3C92CA;
            display: inline-block;
            border: 4px solid #2a2929;
            border-radius: 12px;
        }
        #card1 svg{
            align: center;
        }

        #card2 {
            text-align: center;
            padding: 10px 0;
            background: rgb(230, 255, 0);
            display: inline-block;
            border: 4px solid #2a2929;
            border-radius: 12px;
        }

        #card2 a{
            background: #a28b16;
            cursor: pointer;
            color: white;
            font-color: white;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            padding: 10px 20px;
            font-size: 18px;
            border: 4px solid #fff;
        }

        #card2 svg{
            align: center;
        }

        #card3 {
            text-align: center;
            padding: 10px 0;
            background: #d90101;
            display: inline-block;
            border: 4px solid #2a2929;
            border-radius: 12px;
        }

        #card3 a{
            background: #961010;
            cursor: pointer;
            color: white;
            font-color: white;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            padding: 10px 20px;
            font-size: 18px;
            border: 4px solid #fff;
        }

        #card3 svg{
            align: center;
        }

        .SelectFrom{
            width: 40%;
            margin: 25px;
            border-radius: 15px;
            padding: 10px;
        }



        #CrudUsers{
            background-color: #45b367;
        }

        #Reports{
            background-color: #166abe;
        }



        .SelectFromLinks{
            text-decoration: none;
            color: white;
            font-family: "Oswald", sans-serif;
            font-size: 1.15vw;
            padding: 15px;
        }

        .SelectFromLinks > svg{
            width: 100%;
        }



        #Arrow{
            transform: translate(478px, 297px) rotate(0deg);
            animation: linear Rotate2 2s infinite;
            animation-delay: -1s;
        }




        #ArrowAction{transform: translate(-478px, -297px);}



        @keyframes Rotate2 {
            from{
                transform: translate(478px, 297px) rotate(60deg);
            }
            to{
                transform: translate(478px, 297px) rotate(-100deg);
            }
        }



        @media only screen and (max-aspect-ratio: 2/3){
            #SelectFromDiv {
                flex-wrap: wrap;
            }
            .SelectFromLinks{
                font-size: 3.5vw;
            }
        }
    </style>
    <%- include('./partials/_header') %>
</head>
<body>
<%- include('./partials/_navbar') %>

<main>
    <div id="SelectFromDiv">
        <div id="news-cards">
            <div id="card1">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"
                     width="200px" height="200px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                    <path d="M50,43v2.2c0,2.6-2.2,4.8-4.8,4.8H6.8C4.2,50,2,47.8,2,45.2V43c0-5.8,6.8-9.4,13.2-12.2
                    c0.2-0.1,0.4-0.2,0.6-0.3c0.5-0.2,1-0.2,1.5,0.1c2.6,1.7,5.5,2.6,8.6,2.6s6.1-1,8.6-2.6c0.5-0.3,1-0.3,1.5-0.1
                    c0.2,0.1,0.4,0.2,0.6,0.3C43.2,33.6,50,37.1,50,43z M26,2c6.6,0,11.9,5.9,11.9,13.2S32.6,28.4,26,28.4s-11.9-5.9-11.9-13.2
                    S19.4,2,26,2z"/>
                </svg>
                <a href="./UserCRUD.ejs" class="SelectFromLinks">
                <h3>Crear usuario>></h3>
                </a>
                <p>Crea un usuario ermano, CREALO YA!!!!!</p>
            </div>
            <div id="card2">
                <svg width="200px" height="200px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M9 0H7L6.44943 2.20228C5.9349 2.33954 5.44758 2.54347 4.9973 2.80426L3.05026 1.63604L1.63605 3.05025L2.80427 4.99728C2.54348 5.44757 2.33954 5.93489 2.20228 6.44943L0 7V9L2.20228 9.55057C2.33954 10.0651 2.54347 10.5524 2.80427 11.0027L1.63605 12.9497L3.05026 14.364L4.99729 13.1957C5.44757 13.4565 5.93489 13.6605 6.44943 13.7977L7 16H9L9.55057 13.7977C10.0651 13.6605 10.5524 13.4565 11.0027 13.1957L12.9498 14.364L14.364 12.9497L13.1957 11.0027C13.4565 10.5524 13.6605 10.0651 13.7977 9.55057L16 9V7L13.7977 6.44943C13.6605 5.9349 13.4565 5.44758 13.1957 4.9973L14.364 3.05025L12.9498 1.63603L11.0027 2.80426C10.5524 2.54347 10.0651 2.33954 9.55057 2.20228L9 0ZM8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z" fill="#030708" fill-rule="evenodd"/></svg>
                <a href="./UserCRUD.ejs" class="SelectFromLinks">
                    <h3>Modificar usuario>></h3>
                </a>
                <p>Modifica un usuario ermano, Modificalo YA!!!!!</p>
            </div>
            <div id="card3">
                <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 472.615 472.615" xml:space="preserve">
                    <g>
                    <g>
                    <path d="M377.763,60.264V17.721C377.763,7.933,369.828,0,360.04,0H112.571c-9.788,0-17.723,7.933-17.723,17.721v42.543H4.906
			        v19.692H46.19l44.795,361.486c2.206,17.803,17.334,31.173,35.273,31.173h220.094c17.941,0,33.067-13.37,35.274-31.173
			        l44.796-361.486h41.287V60.264H377.763z M151.8,409.534l-19.548-255.087l19.634-1.5l19.549,255.086L151.8,409.534z
			        M246.152,408.784H226.46V153.697h19.692V408.784z M320.81,409.534l-19.635-1.501l19.549-255.086l19.634,1.5L320.81,409.534z"/>
                    </g>
                    </g>
            </svg>
                <a href="./UserCRUD.ejs" class="SelectFromLinks">
                    <h3>Eliminar usuario>></h3>
                </a>
                <p>Eliminar un usuario ermano, Eliminalo !!!!!</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>